.home.layout-column
    .title.layout-column
      .layout.layout-align-center
        h1 Get it done
      .layout.layout-align-center
        p This is the personal web page of Jackie R. Gleason, a Columbus area software developer.
    .image-area.layout.layout-align-center
      img(src=require("./statesmall.png"))
    .list-area
        .backend
            h1 Backend
        .frontend
            h1 Frontend
        .mobile
            h1 Mobile
