centered-div()
  display flex
  justify-content center
  align-items center
:host
  overflow-y auto
  height 100%
  width 100%
  display block
:host /deep/ .home
  display flex
  flex-direction column
  > div
    centered-div()
  .title
    flex-direction column
    > div
      centered-div()
  .list-area
    display flex
    > div
      flex 1
      centered-div()