:host
  height: 100%;
  width: 100%;
:host /deep/ .viewport
  height: 100%
  width: 100%
  .header
    height: 36px
    max-height: 36px
    background-color: blue
  .body
    height: calc( 100% - 36px )
    width: 100%